<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈传振</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15040609097</string>
			<key>hobby</key>
			<string>kong</string>
			<key>picture</key>
			<string>image1.jpg</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>丁心</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18390517276</string>
			<key>hobby</key>
			<string>cool~</string>
			<key>picture</key>
			<string>image16.jpg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>国岩龙</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18888888888</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image14.jpg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>何开</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18842606054</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image22.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胡宇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18041153778</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image4.jpg</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>刘天奇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18640805233</string>
			<key>hobby</key>
			<string>Monitor</string>
			<key>picture</key>
			<string>image5.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李鑫</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18445855945</string>
			<key>hobby</key>
			<string>Cooking</string>
			<key>picture</key>
			<string>image6.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吕子健</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>17741169100</string>
			<key>hobby</key>
			<string>Godlike</string>
			<key>picture</key>
			<string>image7.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘庆生</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>phoneNumber</key>
			<string>13080732848</string>
			<key>hobby</key>
			<string>Sleeping</string>
			<key>picture</key>
			<string>image8.jpg</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>倪俊</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15942610320</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image11.jpg</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>庞丰至</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15904028710</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image3.jpg</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>秦思源</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>20</string>
			<key>phoneNumber</key>
			<string>13804288584</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image9.jpg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙久浩</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18840871319</string>
			<key>hobby</key>
			<string>Silence</string>
			<key>picture</key>
			<string>image12.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙艳丽</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15840673159</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image29.jpg</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>吴泽萱</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18842674032</string>
			<key>hobby</key>
			<string>Meng</string>
			<key>picture</key>
			<string>image17.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>万宁</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>13354284763</string>
			<key>hobby</key>
			<string>LateGoHome</string>
			<key>picture</key>
			<string>image18.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王天琦</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>phoneNumber</key>
			<string>18842689060</string>
			<key>hobby</key>
			<string>Rich</string>
			<key>picture</key>
			<string>image19.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王红强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18842607014</string>
			<key>hobby</key>
			<string>Didiao</string>
			<key>picture</key>
			<string>image20.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王焕智</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15846545540</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image10.jpg</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>邢福杰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>13664213897</string>
			<key>hobby</key>
			<string>HighCold</string>
			<key>picture</key>
			<string>image21.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邢琦</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15640815227</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image28.jpg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>焉飞龙</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18341284082</string>
			<key>hobby</key>
			<string>HAHAPIPI</string>
			<key>picture</key>
			<string>image24.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨建全</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18241112965</string>
			<key>hobby</key>
			<string>Tall</string>
			<key>picture</key>
			<string>image25.jpg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>周游</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>29</string>
			<key>phoneNumber</key>
			<string>16666666666</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image2.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张甜</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18840804192</string>
			<key>hobby</key>
			<string>InConor</string>
			<key>picture</key>
			<string>image27.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周函</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18042268468</string>
			<key>hobby</key>
			<string>Door</string>
			<key>picture</key>
			<string>image26.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>朱鹏飞</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18341705203</string>
			<key>hobby</key>
			<string>footboll</string>
			<key>picture</key>
			<string>image23.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张婷慧</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15242879520</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image13.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张学森</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15584000271</string>
			<key>hobby</key>
			<string></string>
			<key>picture</key>
			<string>image15.jpg</string>
		</dict>
	</array>
</dict>
</plist>
